.root {
	-fx-background-color: #3f3f3f;
	-fx-focus-color: #00cc1c;
}

.label {
	-fx-text-fill: #fff;
}

.button {
	-fx-color: #444;
	-fx-background-radius: 7;
	-fx-shadow-highlight-color: transparent;
}

.button:pressed {
	-fx-color: #333;
}